<div class="m-2 bg-white border d-flex justify-content-between p-2" id="<%= dom_id group %>">

  <img src="<%= group.icon%>" alt="<%= group.name%>" class="w-25" >
  <p>
    <%= group.name %>
  </p>

  <p>
    <%= group.expenses %>
  </p>

</div>
