<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class = "main">
    <%= render 'layouts/navbar'%>
    <%= disp_alerts %>
    <div class="">
    <%= yield %>
    </div>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Outfit:wght@100;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3410ed71d0.js" crossorigin="anonymous"></script>
  </body>
</html>
